/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction div {
	width: 80%;
	margin: auto;
	margin-top: 15px;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}

.portfolio-header {
	display: flex;
	align-items: baseline;
	justify-content: center;
}

.portfolio-header button {
	margin-left: 20px;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

.filter {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 37px;
	margin-bottom: 60px;
}

.btn {
	font-family: Syne;
	color: #1D6154;
	display: flex;
	align-items: center;
	justify-content: center;
	border: #1D6154 solid 1px;
	border-radius: 20px;
	margin: 51px 10px 0 10px;
	padding: 9px 11px;
	background-color: white;
	display: none;
}

.filter-active {
	background-color: #1D6154;
	color: white;
}

.mdp {
	display: block;
}

.bold {
	font-weight: 600;
}

.no-decoration {
	text-decoration: none;
}

a {
	color: black;
}

.no-decoration:hover {
	color: #B1663C;
}

.msg-error {
	text-align: center;
	color: red;
	font-weight: 600;
	margin-top: 10px;
}

#toolbar {
	margin: 0;
	background-color: black;
	height: 59px;
	width: 100%;
	display: none;
	align-items: center;
	justify-content: center;
}

.toolbar-btn-edit {
	background: black;
	border: none;
	width: 200px;
	height: 59px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	color: white;
	font-family: Work Sans;
}

.toolbar-btn-edit i {
	margin-right: 12px;
}

.toolbar-btn-publish {
	background: #fff;
	border: none;
	border-radius: 60px;
	width: 216px;
	height: 38px;
	font-family: Work Sans;
	font-weight: bold;
	font-size: 14px;
	cursor: pointer;
}

.btn-edit{
	border: none;
	background: none;
	width: 60px;
	display: none;
	cursor: pointer;
	font-family: work Sans;
}

.btn-edit i{
	margin-right: 10px;
	color: #110808;
}

#modal-page-one, #modal-page-two  {
	display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-wrapper h2 {
	text-align: center;
	font-family: Work Sans;
	color: black;
	font-size: 26px;
	font-weight: 400;
	margin-bottom: 40px;
	margin-top: 15px;
}

#modal-page-one p {
	font-family: 'Syne';
	color: #B1663C;
	cursor: pointer;
	margin-bottom: 48px;
}

.modal-gallery{
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	/* grid-template-rows: repeat(3, 1fr); */
	grid-column-gap: 6px;
	grid-row-gap: 10px;
	padding-bottom: 46px;
}

.modal-gallery img{
	height: 104px;
	width: 78px;
}

.modal-btn {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 237px;
	text-align: center;
	border-radius: 60px;

	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#modal {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	display: none;
}

.modal-overlay{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.3);	
}

.modal-wrapper{
	position: relative;
	top:950px;
	left: 50%;
	justify-content: center;
    width: 630px;
	max-height: 730px;
	padding: 60px 0px 0px 0px;
	background: #FFFFFF;
	border-radius: 10px;
	transform : translate(-50%,-50%);
}

.modal-xmark, .modal-arrow-left{
	position: absolute;
	cursor: pointer;
	background-color: white;
	border: none;
}

.modal-xmark {
	top:26px;
	right: 30px;
}

.modal-arrow-left {
	top:29px;
	left: 30px;
}

.image-container {
	background: #E8F1F6;
	width: 420px;
	height: 169px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-bottom: 30px;
}

.image-container i {
	font-size: 45px;
	color: #B9C5CC;
	margin-top: 28px;
}

.label-image-upload {
	cursor: pointer;
	background: #CBD6DC;
	color: #306685;
	margin-top: 21px;
	font-weight: 500;
	font-size: 14px;
	width: 137px;
	height: 36px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50px;
}

.input-image-upload {
	display: none;
}

.image-container p {
	margin-top: 7px;
	margin-bottom: 19px;
}

.form-container form{
	display: flex;
	flex-direction: column;
}

.input-image-title {
	width: 420px;
	height: 31px;
	border: none;
	background: #FFFFFF;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	margin-bottom: 21px;
	margin-top: 10px;
}

.select-image-category {
	width: 424px;
	height: 31px;
	border: none;
	background: #FFFFFF;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	margin-top: 10px;
	margin-bottom: 47px;
	outline-offset: solid #B3B3B3 2px;
}

.form-container label {
	font-weight: 500;
	font-size: 14px;
}

.form-container button {
	margin-top: 32px;
}



.separator {
	width: 420px;
	height: 2px;
	background: #B3B3B3;
	margin: 0 auto;
}

.modal-delete-button {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 17px;
	width: 17px;
	border-radius: 2px;
	background-color: black;
	transform: translate(55px, -115px);
	color: white;
}

.preview-image {
	position: absolute;
	height: 170px;
	width: 140px;
	display: none;
}

#validate:disabled {
	background-color: grey;
}

.form-error {
	font-family: Work Sans;
	display: block;
	position: absolute;
	color: red;
	top: 480px;
	align-self: center;
	font-weight: 600;
	margin-top: 10px;
}